<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <section>
        <div class="card mr-5">
            <div class="card-body mr-3">
                <h1 class="text-center">Add Contact</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form action="#" 
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="post"
                                th:action="@{/user/process-contact}"
                                class="mt-2 mr-3"
                            >
                            <!-- First name -->
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <input required type="text" id="name" name="name" placeholder="Enter name here" class="form-control">
                             </div>

                             <!-- Second name -->
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                                <input required type="text" id="secondName" name="secondName" placeholder="Enter Nick name here" class="form-control">
                             </div>

                             <!-- Phone Field -->
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-phone"></i>
                                    </div>
                                </div>
                                <input required type="number" id="phone" name="phone" placeholder="Enter Phone Number" class="form-control">
                             </div>

                             <!-- Email Field -->
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                                <input required type="email" id="email" name="email" placeholder="Enter Email" class="form-control">
                             </div>

                             <!-- Work Field -->
                             <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                </div>
                                <input required type="text" id="work" name="work" placeholder="Enter Profession" class="form-control">
                             </div>

                             <!-- Contact Description -->
                              <div class="form-group mt-3">
                                <textarea placeholder="Enter Contact Description" name="description" id="description" rows="5" class="form-control"></textarea>
                              </div>

                              <!-- Contact Image -->
                              <div class="custom-file mb-3">
                                <input type="file" name="profileImage" class="custom-file-input" id="profileImage"/>
                                <label class="custom-file-label mb-3" for="profileImage">Choose file</label>
                              </div>

                              <div class="container text-center">
                                <button type="submit" class="btn bg-primary btn-block text-white">Add Contact</button>
                              </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
