<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/path/to/your/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    
</head>
<body>
    <section>
        <div id="login" class="container">
            <h3 class="text-center text-white">Login Form</h3>
            <div class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" th:action="@{/dologin}" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid Username or password
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success">
                                You have been logged out
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group d-flex justify-content-between align-items-center">
                                <label for="remember-me" class="text-info">
                                    <span>Remember me</span>
                                    <span>
                                        <input id="remember-me" name="remember-me" type="checkbox">
                                    </span>
                                </label>
                                <input type="submit" name="submit" class="btn bg-primary btn-block text-white" value="Submit">
                            </div>
                            <br>
                            <div class="d-flex justify-content-between">
                                <div id="register-link" class="text-right">
                                    <a href="/signup" class="text-info">Register here</a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
